<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Accueil</a>
        </li>
        <li class="active">Connexion</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Inscription
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">

							<div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Civilité</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="radio" ng-model="signup.gender" for="gender" value="madame" ng-value="madame"/>Mme.
								<input type="radio" ng-model="signup.gender" for="gender" value="miss"/>Mle.
								<input type="radio" ng-model="signup.gender" for="gender" value="mister"/>Mr.		
                            </span>
                                </div>
                            </div>
							
							
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">Email non valide</span> 
                                    </span>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Mot de passe</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "mot de passe" placeholder="Mot de passe" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Saisir votre mot de passe.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirmer le mot de passe </label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Saisir le mot de passe à nouveau" ng-model="signup.password2" password-match="signup.password" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Saisir le mot de passe à nouveau.</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Les mots de passe ne correspondent pas.</small>
                            </span>
                                </div>
                            </div>
                            
		<div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="firstname">Prénom</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Prénom" ng-model="signup.firstname" />
                            </span>
                                </div>
                            </div>
												
							
							
							<div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Nom</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Nom" ng-model="signup.name" />
                            </span>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Téléphone</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Téléphone" name="phone" ng-model="signup.phone"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="address">Adresse</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Adresse" ng-model="signup.address" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Créer le compte
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Vous avez déjà un compte? <a href="#/login">Connexion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->